.omx/
backend/node_modules/
backend/storage/
app/.gradle/
app/build/
app/local.properties
app/**/build/
app/.idea/
app_test/.gradle/
app_test/build/
app_test/local.properties
app_test/**/build/
app_test/.idea/
*.iml
model/lightwake/.work/
model/data/
app_test/
firmware/build
.codex/
.vscode/
model/lightwake/target